<div class="button_wrapper">
  <button class="usa-button-secondary">Default</button>
  <button class="usa-button-secondary usa-button-active">Active</button>
  <button class="usa-button-secondary usa-button-hover">Hover</button>
</div>

<div class="button_wrapper">
  <button class="usa-button-gray">Default</button>
  <button class="usa-button-gray usa-button-active">Active</button>
  <button class="usa-button-gray usa-button-hover">Hover</button>
</div>

<div class="button_wrapper">
  <button class="usa-button-outline" type="button">Default</button>
  <button class="usa-button-outline usa-button-active">Active</button>
  <button class="usa-button-outline usa-button-hover">Hover</button>
</div>

<div class="button_wrapper button_wrapper-dark">
  <button class="usa-button-outline-inverse" type="button">Default</button>
  <button class="usa-button-outline-inverse usa-button-active">Active</button>
  <button class="usa-button-outline-inverse usa-button-hover">Hover</button>
</div>