<div class="usa-grid">
  <aside class="usa-width-one-fourth">
    <ul class="usa-sidenav-list">
      <li>
        <a class="usa-current" href="javascript:void(0)">Current page</a>
      </li>
      <li>
        <a href="javascript:void(0)">Parent link</a>
      </li>
      <li>
        <a href="javascript:void(0)">Parent link</a>
      </li>
    </ul>
  </aside>
</div>